.header {
    background: #fbf7f4;
}

.header .data p a {
    font-family: 'Sen-400', serif;
    color: black;
    transition: all 0.3s;
}

.header .data p a:hover {
    color: #9b9b9b;
}

.header .data p {
    font-family: 'Sen-400', serif;
    margin: 0;
    color: #9b9b9b;
}

.header .data h2 {
    font-size: 46px;
    color: black;
}
