.home {
    margin: -15px 0 0 0;
}

.home .homeData {
    background: url('../../Images/home.jpg') center center;
    background-size: cover;
    height: 86vh;
    width: 100%;
}

.home .homeData h2 {
    font-size: 60px;
    font-family: 'Sen-800', serif;
    color: black;
    line-height: 1;
}

.home .homeData h4,
.home .homeData h4 span {
    color: #54504f;
    font-size: 18px;
    font-family: 'Sen-700', serif;
    letter-spacing: -1px;
}

.home .homeData h4 span {
    color: #e3b17f;

}

.btn-half {
    font-size: 16px;
    padding: 18px 44px;
    background: transparent;
    position: relative;
    z-index: 1;
}

.btn-half:after {
    content: '';
    position: absolute;
    inset: 0;
    width: 50%;
    height: 100%;
    background: #e3b17f;
    border-radius: 0;
    z-index: -1;
    transition: all 0.5s;
}

.btn-half:hover:after {
    width: 100%;
}

.btn-half:active,
.btn-half:focus {
    border: none;
}

/**************/

.trending .data h2 {
    font-family: 'Sen-700', serif;
    font-size: 34px;
}

.trending .data p {
    font-family: 'Sen-400', serif;
    font-size: 18px;
    color: #54504f;
}

/****************/
.AllProduct .data a {
    font-size: 16px;
    color: #54504f;
    border-bottom: 2px solid #e3b17f;
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.AllProduct .data a::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    content: '';
    border-bottom: 2px solid black;
    transition: all 0.3s;
}

.AllProduct .data a:hover {
    color: black;
}

.AllProduct .data a:hover::after {
    width: 100%;
}

.categories .cat-img {
    position: relative;
    overflow: hidden;
}

.categories .cat-img:hover img {
    transform: scale(1.2);
}

.categories .cat-data {
    width: 100%;
    position: absolute;
    bottom: 35px;
}

.categories .cat-data h3 {
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.categories .cat-data h3 a {
    text-decoration: none;
    color: black;
}

.categories .cat-data p {
    margin: 0;
    font-family: 'Sen-400', serif;
    color: #5b5b5b;
    text-align: center;
}

.mostPop ul li {
    margin: 0 7px;
    font-family: 'Sen-400', serif;
    text-decoration: none;
}

.mostPop ul li:last-child {
    margin: 0 0 0 7px;
}

.mostPop ul li.active {
    color: black;
    position: relative;

}

.mostPop ul li.active:before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 2px solid #e3b17f;
}

.mostPop ul li:not(first-child) {
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.mostPop ul li:not(first-child) {
    color: #595959;
}

.mostPop ul li:not(first-child):has(a:hover) {
    color: black;
}

.mostPop ul li a {
    transition: all 0.1s;
    font-family: 'Sen-400', serif;
}

.mostPop ul li:not(first-child) a::before {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    border-bottom: 2px solid #e3b17f;
    transition: all 0.3s;
}

.mostPop ul li:not(first-child) a:hover::before {
    width: 100%;
}

.mostPop ul li:not(first-child) a:hover {
    color: black;
}


.features .data h4 {
    font-size: 21px;
    color: black;
}

.features .data p {
    font-size: 18px;
    font-family: 'Sen-400', serif;
    color: #5d5d5d;
}

.features .data i {
    color: #9a9a9a;
    opacity: 0.8;
}

.blogs .data h2 {
    font-size: 35px;
    color: black;
    font-family: 'Sen-700', serif;
}

.blogs .data p {
    font-size: 18px;
    font-family: 'Sen-400', serif;
    color: #595959;
    margin-bottom: 50px;
}

.blogs .blog {
    padding: 0 16px;
}

.blogs .blog img {
    height: 260px;
}
