.form h3 {
    font-family: 'Sen-600', serif;
    text-transform: uppercase;
    font-size: 26px;
    color: black;
}

.form form label {
    font-family: Sen-400, serif;
}

.form form input {
    border-radius: 0;
    padding: 10px 15px;
}

.form form input:focus {
    box-shadow: none;
    border-color: #262626;
}

.form input::placeholder {
    font-family: Sen-400, serif;
    opacity: 0.8;
}

.form button {
    background: #000;
    border: none;
    border-radius: 0;
    position: relative;
    padding: 10px 30px;
}

.form button::after {
    width: 0;
    background: #e3b17f;;
}

.form button:hover::after {
    width: 100%;
}

.form button:hover {
    border: none;
    background: transparent;
}